.content{

}

.card-img-top{
  height: 230px;
}

.card-title{
  font-size: 19px;
}

.card-subtitle{
  font-size: 12px;
  margin-top: 4px;
}

.text-end,
.text-start{
  font-size: 15px;
}

.card{
  border: none !important;
  border-radius: 0 !important;
  border-right: 1px solid #D4D4D4 !important; 
  margin-top: 28px;
  padding-right: 20px;
}